
<style>

  form{
    text-align: center;
    border: 2px solid black;
    height: 280px;
    width: 300px;
  
  }
  input{
    margin: 6px;
    height: 20px;
  }

  button{
    color: white;
    padding: 5px;
    margin: 7px;
    background-color: blue;
    border-radius: 5px;
  }
  button a{
    text-decoration: none;
    color: white;

  }
  .form{
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<div class="form">
  <form action="">

    <h1>Login Form</h1>
  
    UserName : <input type="text" name="" id="" placeholder="Entert the username">
  <br>
  <br>
  Passwrod : <input type="text" name="" id="" placeholder="Enter the Password">
  <br>
  <br>
  
  <button ><a href="/welcome">Login</a></button> 
  <button><a href="/registratoin">Register</a></button>
  
  </form>

</div>



