
<style>
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 300px;
  }
  .container form{
    padding: 9px;
  }
  .container form input{
    padding: 4px;
    margin: 4px;
  }
  .container button{
    margin-top: 20px;
    margin-left: 110px;
  }
  .container p{
    margin-left: 70px;
  }
  .reg{
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<div class="reg">
  <div class="container">
    <form action="">
      <h1>Registration Form</h1>
      <table>
  
        <tr>
          <th>Name:</th>
          <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
          <th>Passwprd:</th>
          <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
          <th>Number:</th>
          <td><input type="text" name="" id=""></td>
        </tr>
      </table>
  
      <button>Register</button>
      <p>Already register? <a href="login">Login</a></p>
  
    </form>
  </div>

</div>



